.movie-detail {
    background: rgb(92, 110, 92);
    color: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    margin: 25px;
  }
  
  .movie-detail-info {
    margin-left: 50px;
  
    h1 {
      margin-top: 0;
    }
  }