.titleApp {
    background: rgb(110, 81, 95);
    padding: 20px;
    margin: 25px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;

    a {
        text-decoration: none;
        color: white;

        &:hover {
            background: rgb(110, 81, 95);
            color: rgb(186, 175, 181);
        }
    }
}

.main-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-menu li {
    display: inline;
    margin-right: 20px;
}

.main-menu li a {
    text-decoration: none;
    background: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(110, 81, 95);
    &:hover {
        background: rgb(110, 81, 95);
        color: rgb(186, 175, 181);
    }
}