.movie-item {
    width: 300px;
    background: rgb(92, 110, 92);
    color: white;    
    border-radius: 10px;
    margin: 25px;
    padding: 20px;
    text-align: center;
}

.movie-item-link {
    a {
        background: rgb(186, 175, 181);
        color: rgb(110, 81, 95);
        display: inline-block;
        margin-top: 20px;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;

        &:hover {
            background: rgb(110, 81, 95);
            color: rgb(186, 175, 181);
        }
    }
}

.favorite-button {
    background: rgb(110, 81, 95);
    color: white;
    display: inline-block;
    margin-top: 20px;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
}
